.container{
    display: flex;
    margin-top: 0.7rem;
}
*{
    box-sizing: border-box;
}
.data__btn{
    position :fixed;
    bottom:2rem;
    right:2rem;
    color:black;
    padding:1rem 1.5rem;
    background-color:#E0B0FF;
   border-radius: 2rem;
   border:1px solid #E0B0FF;
}
.data__btn:hover{
    background-color: rgba(224,176,255,0.4);
color: black;
}

